body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.margin {
  margin: 100px;
}

.table{
  width: 100%;
  text-align: left;
}

.table td {
  padding-top: 10px;
  padding-bottom: 10px;
}

#menu{
  background-color: #253a46;
  padding: 20px;
  font-size: 20px;
}

#menu a{
  color:#97c93d;
  padding-right: 50px;
  text-decoration: none;
  text-align: center;
}

#menu a:hover{
  border-bottom: #97c93d solid 2px;
}